@import '../utils/variables';

*, *:before, *:after {
  box-sizing: border-box;
}

img, embed, object, video {
  max-width: 100%;
  height: auto;
}

.navBar {
  background: $slate_blue !important;
  .navLogo {
    height: 60px;
    vertical-align: middle;
  }
}

.navTabs {
  height: 65px;
  background: $space_cadet !important;
  color: $diamond !important;
  &:hover {
    color: white !important;
  }
  * {
    margin-right: 12px !important;
    padding-left: 12px !important;
  }
}

.sideNav {
  background: $slate_blue !important;
  .sideNavItem {
    border-bottom: 2px solid $diamond !important;
    background: $space_cadet !important;
    color: $diamond !important;
    &:hover {
      background: $diamond !important;
      color: $space_cadet !important;
    }
  }

  .iconText {
    display: inline;
  }
}
